@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");

:root {
  --base-color-aside: #1e293b;
  --base-color-main: #ffffff;
  --base-color-page: #e2e8f0;
  --text-aside: #c3ccda;
  --text-aside-title: #f1f5f9;
  --text-main: #334155;
  --progress-fill: hsl(198, 63%, 40%);
  --text-color-hover: hsl(213, 27%, 64%);
}

* {
  box-sizing: border-box;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--base-color-page);
}

aside {
  padding: 0 30px 0 30px;
  background-color: var(--base-color-aside);
  color: var(--text-aside);
}

img {
  border-radius: 50%;
  border: 4px solid var(--base-color-main);
  width: 250px;
  margin: 0 auto;
  display: block;
}

/* image and name */
.head {
  text-align: center;
  color: var(--text-aside-title);
  h1 {
    padding-top: 20px;
    line-height: 1.5em;
  }
  h1::first-line {
    font-size: 1.5em;
  }
}

section {
  padding: 20px 0 20px 0;
  border-bottom: 1px solid var(--base-color-page);
}
aside:last-of-type section:last-child {
  border: none;
}

.contacts {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  gap: 20px;

  ul:first-of-type li {
    text-align: center;
  }

  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
}

ul {
  padding-top: 20px;
  padding-left: 30px;
}

li {
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.5;
  padding: 5px;
  list-style: disc;
}

/* aside icons */
aside i {
  font-size: 30px;
  text-align: left;
}

aside h2 {
  color: var(--text-aside-title);
}

a {
  color: var(--base-color-main);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition:
    color 0.3s ease,
    border-color 0.3s ease;
}

a:hover {
  color: var(--text-color-hover);
  border-color: var(--text-color-hover);
}

progress {
  width: 100%;
  height: 15px;
  accent-color: var(--progress-fill);
}

.hobbies ul {
  display: flex;
  justify-content: space-around;
  padding-left: 0;

  li {
    list-style: none;
  }
}

main {
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding: 0 30px 0 30px;
  background-color: var(--base-color-main);
  color: var(--text-main);
}

main i {
  font-size: 30px;
  text-align: left;
}

/* title position */
.title-box {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  align-items: center;

  i {
    justify-self: center;
  }

  h2 {
    text-align: center;
  }
}

/* Контейнер часової лінії */
.timeline-item {
  display: grid;
  grid-template-columns: 15% 24px 1fr;
  gap: 1rem;
  margin: 50px auto;
}

.timeline-date {
  overflow-wrap: anywhere;
  text-align: left;
  padding-top: 3px;
}

.timeline-line {
  position: relative;
  display: flex;
  justify-content: center;
}

/* Суцільна суцільна лінія ззаду */
.timeline-line::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: -50px;
  width: 3px;
  background-color: var(--base-color-page);
  z-index: 1;
}

.timeline-item:last-child .timeline-line::before {
  bottom: 0;
}

/* Кругла точка */
.timeline-point {
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--base-color-aside);
  border-radius: 50%;
  align-items: center;
  z-index: 2;
  margin-top: 9px;
}

.timeline-content {
  padding-left: 10px;
  padding-top: 3px;

  h3 {
    margin: 0 0 4px 0;
    color: #0f172a;
  }

  h4 {
    font-size: 0.8rem;
    margin: 0 0 9px 0;
  }

  p {
    margin: 0;
    /* font-size: 14px; */
    color: #64748b;
    line-height: 1.5;
  }
}

@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "aside1 main"
      "aside2 main";
    max-width: 1300px;
    margin: 0 auto;
  }

  aside:first-of-type {
    grid-area: aside1;
  }

  aside:last-of-type {
    grid-area: aside2;
  }

  main {
    grid-area: main;
  }
}
