@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");

/* --baseColor  */

* {
  box-sizing: border-box;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ccc;
}

aside {
  padding: 0 30px 0 30px;
  background-color: #1e293b;
  color: #cbd5e1;
}

main {
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding: 0 30px 0 30px;
  background-color: #fcfeff;
  color: #19273f;
}

@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "aside1 main"
      "aside2 main";
    max-width: 1300px;
    margin: 0 auto;
  }

  aside:first-of-type {
    grid-area: aside1;
  }

  aside:last-of-type {
    grid-area: aside2;
  }

  main {
    grid-area: main;
  }
}

img {
  border-radius: 50%;
  border: 4px solid #cbd5e1;
  width: 250px;
  align-items: center;
  height: fit-content;
}

/* image and name */
.head {
  text-align: center;
  h1 {
    padding-top: 20px;
    line-height: 1.5em;
  }
  h1::first-line {
    font-size: 1.5em;
  }
}

section {
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #ccc;
}
section:last-child {
  border: none;
}

.contacts {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 20px;
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
}

ul {
  padding-left: 30px;
}

li {
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.5;
  padding: 5px;
  list-style: disc;
}

/* aside icons */
aside i {
  font-size: 30px;
  color: #fcfeff;
  text-align: left;
}

main i {
  font-size: 30px;
  color: #1e293b;
  text-align: left;
}

a {
  color: hsl(213, 27%, 84%);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition:
    color 0.3s ease,
    border-color 0.3s ease;
}

a:hover {
  color: hsl(213, 27%, 64%);
  border-color: hsl(213, 27%, 64%);
}

/* title position */
aside .title-box {
  grid-template-columns: 50px 1fr 50px;
  margin-bottom: 20px;
  i {
    justify-self: center;
  }
}

.title-box {
  display: grid;
  grid-template-columns: 14% 1fr 14%;
  align-items: center;

  i {
    justify-self: right;
  }

  h2 {
    text-align: center;
  }
}

/* Контейнер часової лінії */
.timeline-item {
  display: grid;
  grid-template-columns: 15% 24px 1fr;
  gap: 1rem;
  margin: 50px auto;
}

.timeline-date {
  font-weight: bold;
  color: #1e293b;
  text-align: center;
  padding-top: 3px;
}

.timeline-line {
  position: relative;
  display: flex;
  justify-content: center;
}

/* Суцільна суцільна лінія ззаду */
.timeline-line::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: -50px;
  width: 3px;
  background-color: #cccccc;
  z-index: 1;
}

.timeline-item:last-child .timeline-line::before {
  bottom: 0;
}

/* Кругла точка */
.timeline-point {
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: #2b2b2b;
  border-radius: 50%;
  align-items: center;
  z-index: 2;
  margin-top: 9px;
}

.timeline-content {
  padding-left: 10px;
  padding-top: 3px;

  h3 {
    margin: 0 0 4px 0;
    color: #0f172a;
  }

  h4 {
    font-size: 0.8rem;
    margin: 0 0 9px 0;
  }

  p {
    margin: 0;
    /* font-size: 14px; */
    color: #64748b;
    line-height: 1.5;
  }
}

progress {
  width: 80%;
  height: 20px;
  accent-color: #001f3f;
}

.hobbies ul {
  display: grid;
  grid-column: 1fr 1fr;

  li:nth-child(even) {
    grid-column: 2;
  }
  li {
    list-style: none;
  }
}
